In [ ]:
# One hot encoding
    Converting categorical value to numeric value/ useful value for our model
    => LABEL ENCODING: giving distinct numeric value to each category
        Now we have problem of ordinality i.e. we can rank our category which we should not 
                    we can say that there is no sense of superiority but model would give weights accordingly when we asign num
    
    #So
        Use one-hot encoding:
            what it do is : it gives each column a categorical value  i.e. binary
                so now the problem of ordinality do not exist

In [1]:
import numpy as np
import pandas as pd

import warnings 
warnings.filterwarnings("ignore")

In [9]:
ph_df = pd.DataFrame([ 
    ['p1','b',2018, 500], 
    ['p2','g',2017, 2200],
    ['p3','r',2018, 45620],
    ['p2','p',2017, 4420]])

ph_df.columns = ['Phone', "color", "Model", "Price"]

ph_df

  Phone color  Model  Price
0    p1     b   2018    500
1    p2     g   2017   2200
2    p3     r   2018  45620
3    p2     p   2017   4420

In [10]:
from sklearn.preprocessing import LabelEncoder

le_phone = LabelEncoder()
le_color = LabelEncoder()

In [11]:
ph_df["le_phone"] =  le_phone.fit_transform(ph_df['Phone'])
ph_df["le_color"] =  le_color.fit_transform(ph_df['color'])

ph_df

  Phone color  Model  Price  le_phone  le_color
0    p1     b   2018    500         0         0
1    p2     g   2017   2200         1         1
2    p3     r   2018  45620         2         3
3    p2     p   2017   4420         1         2

In [14]:
from sklearn.preprocessing import OneHotEncoder

ohe_phone = OneHotEncoder()
ohe_color = OneHotEncoder()

ohe_phone =  ohe_phone.fit_transform(ph_df['Phone'].values.reshape(-1,1)).toarray()
ohe_color =  ohe_color.fit_transform(ph_df['color'].values.reshape(-1,1)).toarray()
    #rehsping to 2D array and converting to array
#Now adding the values to data_set

phone_df_ohe = pd.DataFrame(ohe_phone, columns = ["Phone_"+str(int(i))for i in range(ohe_phone.shape[1])])
color_df_ohe = pd.DataFrame(ohe_color, columns = ["Phone_"+str(int(i))for i in range(ohe_color.shape[1])])

#Concadinating dataframe

ph_df = pd.concat([ph_df, phone_df_ohe, color_df_ohe], axis=1)
ph_df

,Phone,color,Model,Price,le_phone,le_color,Phone_0,Phone_1,Phone_2,Phone_0,Phone_1,Phone_2,Phone_3
0,p1,b,2018,500,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,p2,g,2017,2200,1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,p3,r,2018,45620,2,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,p2,p,2017,4420,1,2,0.0,1.0,0.0,0.0,0.0,1.0,0.0